<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import {ref} from 'vue'

import options from './code-options'
</script>

<template >
      <FormDesign :json="options" type="form"></FormDesign>
      <avue-form :option="options"></avue-form>
</template>
<!--布局选择注意缩进-->
<route lang="yaml">
meta:
    layout: console
</route>
<style scoped lang="less">

</style>
