<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import {ref} from 'vue'

const options = ref({})
const handleSubmit = (val) =>{
  this.$message.success("查看控制台")
  console.log(val);
}

</script>

<template >
  <avue-form-design
                    :options="options"
                    storage
                    @submit="handleSubmit"></avue-form-design>
</template>
<!--布局选择注意缩进-->
<route lang="yaml">
meta:
    layout: false
</route>
<style scoped lang="less">

</style>
