<script setup>
import { ref} from 'vue'

defineProps({
  id: String
})

const count = ref(0)
</script>
<template>
  <HelloWorld :msg="id"/>
  <router-view></router-view>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
