<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
// 表格表单设计器，使用流程点击在线设计，导入json,默认已经将json 复制到剪贴板，直接粘贴开始设计
// 设计完成后将json 粘贴到代码中
import {ref, reactive, defineEmits} from 'vue'
let props = defineProps({
  type: String,
  json: Object
})
const designRef = ref(); // $refs
const emit = defineEmits([]) // $emit

const options = reactive({}) // data
const dialog = reactive({show: false})
const handleSubmit = (val) => { // method
  // this.$message.success("查看控制台")
  console.log(designRef);
}
const copyValue=(val)=> {
  const clipboardObj = navigator.clipboard;
  clipboardObj.writeText(JSON.stringify(val))


}
const openBox = (val) => {
  dialog.show = true
  copyValue(props.json)
}
const closeBox = (val) => {
  dialog.show = false
}


</script>

<template >
  <el-dialog v-model="dialog.show" title="Tips" width="30%" draggable>
  
<!--    <avue-form-design ref="designRef" :options="options" @submit="handleSubmit"></avue-form-design>-->
    
    <a href="https://form.avuejs.com" target="_blank" v-if="type==='form'">
      <el-button  type="primary" @click="closeBox">表单设计</el-button>
    </a>
    <a href="https://crud.avuejs.com" target="_blank" v-if="type==='table'">
      <el-button  type="primary" @click="closeBox">表格设计</el-button>
    </a>
    <pre>{{props.json}}</pre>
  </el-dialog>
  <el-button type="primary" @click="openBox">在线设计器</el-button>
</template>

<style scoped lang="less">

</style>
