<script setup>
import { ref } from 'vue'

defineProps({
  msg: String
})

const count = ref(0)
</script>

<template>
  <h1>{{ msg }}</h1>

  <div class="card">
    <button type="button" @click="count++">count is {{ count }}</button>
    <p>
      Edit
      <code>components/HelloWorld.vue</code> to test HMR
    </p>
  </div>

  <p>
    Check out
    <a href="https://vuejs.org/guide/quick-start.html#local" target="_blank"
      >create-vue</a
    >, the official Vue + Vite starter
  </p>
  <p>
    Install
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">Volar</a>
    in your IDE for a better DX
  </p>
  <p>
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">LESS中文网</a>
  </p>
  <p>
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">AVUE</a>
  </p>
  <p>
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">element-puls</a>
  </p>
  <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
  <p >
    views 中vue文件可以以[id].vue 会自动带在路由上
  </p>
  <p >
    生产部署的时候记得把index.html中的vsConsole去掉
  </p>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
