<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import {ref, reactive,onMounted} from 'vue'
import {formOption,treeOption} from './options'
import {getV2Doc} from './api'
import {handleWebapiJson} from './index'

// 任何的前置工作

const formData = ref({})
const treeData = ref([])
const swager = ref({})
// data()
// const treeData = reactive({ })

// onMounted
onMounted(() => {
  console.log("onMounted")
  console.log(formData)
})
getV2Doc().then(res => {
  console.log("getV2Doc")
  let {data} = res
  let {tags,paths,basePath,definitions,host,info,securityDefinitions,swagger} = data

  handleWebapiJson(tags,paths)
  treeData.value = tags
  swager.value={basePath,host,info,securityDefinitions,swagger,definitions}
})

const handleNodeClick = (val) => {
    console.log(val)
    if(!val.children){
      let {name,path,produces,consumes,responses,description,parameters} = val
      let success = []
      let {definitions} = swager.value
      let status = Object.entries(responses).map(x => {
        let originalRef = x[1].schema? x[1].schema.originalRef:""
        let xres = {code: x[0],...x[1],originalRef }
          
        if(originalRef) {
          
          success = Object.entries(definitions[originalRef].properties).map(entrie=> {
            let res = {code:entrie[0],...entrie[1]}
            return res
          })
        }
        return xres
      })
      formData.value = {
        name,path,produces,consumes,description,
        parameters:  !parameters?[]:parameters.map(x => {
          x.originalRef = x.items? x.items.type: x.schema?x.schema.originalRef:''
          return x
        })||[],
        responses: status,
        success
      }
    }
  }

</script>

<template >
  <el-row gutter="12">
    <el-col :span="18">
      {{form}}
      <FormDesign :json="formOption" type="form"></FormDesign>
      <avue-form :option="formOption" v-model="formData"></avue-form></el-col>
      <el-col :span="6">
          <avue-tree :option="treeOption" :data="treeData" @node-click="handleNodeClick">
          <template #default="{data}">
            <span class="custom-tree-node">
              
          <span>{{ data.name }} <span v-if="data.type" style="color:darkcyan">[{{ data.type }}]</span></span>
        </span>
          </template>
        </avue-tree>
    </el-col>

  </el-row>


</template>
<!--布局选择注意缩进-->
<route lang="yaml">
meta:
    layout: console
</route>
<style scoped lang="less">
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
</style>
