<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
</script>

<template>
  <router-view />
</template>

<style>
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>

