<template>
  <div class="common-contail my-layout">
    <div class="common-header">
      <div>HEADER</div>
    </div>
    <div class="common-layout">
      <div class="common-left">LEFT </div>
      <div class="common-main">
        <el-scrollbar style="height:100%">
          <div class="common-view" style="padding: 8px;">
            <keep-alive>
              <router-view  v-if="$route.meta.keepAlive" />
            </keep-alive>
            <router-view class="common-view" v-if="!$route.meta.keepAlive" />
          </div>
        </el-scrollbar>
      </div>
    </div>

  </div>
</template>

<style scoped lang="less">
@import "style.less";
@head_full: false;
@top: 64px;
@left: 240px;
//样式重写
.my-layout{
  .common-header {
    background-color: rgba(100, 255, 255, 0.5);
  }
  .common-layout {
    .common-left {
      background-color: rgba(100, 255, 255, 0.8);
    }
    .common-main {
    }
  }
}
</style>
