<template>
  <div class="common-contail my-layout">
    <div class="common-header">
      <div>HEADER</div>
    </div>
    <div class="common-layout">
      <div class="common-left">LEFT </div>
      <div class="common-main">
        <el-scrollbar style="height:100%">
          <keep-alive>
            <router-view class="common-view" v-if="$route.meta.keepAlive" />
          </keep-alive>
          <router-view class="common-view" v-if="!$route.meta.keepAlive" />
        </el-scrollbar>
      </div>
    </div>

  </div>
</template>

<style scoped lang="less">
@import "style.less";
@head_full: true;
@top: 64px;
@left: 240px;

//样式重写
.my-layout{
  .common-header {
    background-color: rgba(100, 255, 255, 0.5);
  }
  .common-layout {
    max-width: 1024px;
    .common-left {
      display: none;
      background-color: rgba(100, 255, 255, 0.8);
    }
    .common-main {
      height: auto;
      .common-view{
      }
    }
  }
}
</style>
