.el-scrollbar__wrap {
  overflow-x: hidden!important;
}
//.el-scrollbar__view {
//  height: 100%;
//}
@head_full: false;
@top: 64px;
@left: 240px;

.getLeft(@head_full) when (@head_full = true) {
  top: @top;
  height: calc(100% - @top);
}
.getHead(@head_full) when (@head_full = true) {
  padding-left: 0;
}
.common-left,
.common-header,
.common-layout,
.common-view,
.common-main{
  transition: all .3s;
}

.common-contail {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.common-header {
  width: 100%;
  height: @top;
  padding-left: @left;
  .getHead(@head_full);
  box-sizing: border-box;
}


.common-left{
  position: fixed;
  left: 0;
  top: 0;
  width: @left;
  height: 100%;
  .getLeft(@head_full);

  z-index: 1025;
}
.common-main {
  position: absolute;
  padding-left: @left;
  width: 100%;
  height: calc(100% - ~"@{top}");
  box-sizing: border-box;
  overflow: hidden;
}
.common-view {
  padding-bottom: 22px;
  width: 100%;
  box-sizing: border-box;
}
