
<template>
  <div class="error-page">
<!--    <div-->
<!--        class="img"-->
<!--        style="background-image: url(img/bg/403.svg');`"-->
<!--    ></div>-->
    <div class="img"></div>
    <div class="content">
      <h1>403</h1>
      <div class="desc">抱歉，你无权访问该页面</div>
      <div class="actions">
        <router-link :to="{ path: '/' }">
          <el-button type="primary">返回首页</el-button>
        </router-link>
      </div>
      <div>
        <p v-for="r in routes" >
          <router-link :to="r"> {{r.path}}</router-link>
        </p>

        {{routes}}
      </div>
    </div>

  </div>
</template>
<script setup>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { routes } from '@/router';

const router = useRouter();
const store = useStore();

</script>
<style lang="less" scoped>
@import "./style.less";
</style>
